
@{
    ViewData["Title"] = "Index";
}

@section Scripts{ 

    <script>
        demo.Init.Ficheros();
    </script>

}

<div class="container">
    <h1 class="display-1 text-center">Ficheros</h1>
    <p class="lead text-center" id="info"></p>
    <div class="container" id="dropZone">

    </div>
</div>

